<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	

	<bean id="sqliteDataSource"
		class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.sqlite.JDBC" />
		<property name="url" value="jdbc:sqlite:/Users/ramkumarsundarajan/Downloads/stats.db" />		
		
	</bean>
	
	<bean id="userDao" class="utilities.UserDao" parent="baseDao">		
	</bean>
	
	<bean id="masterDataDao" class="utilities.MasterDataDao" parent="baseDao"></bean>

	<bean id="baseDao" class="utilities.BaseDao" abstract="true">
		<property name="dataSource" ref="sqliteDataSource" />
	</bean>

</beans>